
<div class="containers">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height: auto;">
			<div class="card-header">
				<h3>Create</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm">
					<div class="input-group form-group">
						
						<input [ngClass]="{'formerror':loginForm.controls.title.errors&&submitted}"type="text" formControlName="title"class="form-control" placeholder="English Title">
						<span *ngIf="loginForm.controls.title.errors&&submitted" class="error-view">required</span>
					</div>
					<div class="input-group form-group my-1">				
						<textarea [ngClass]="{'formerror':loginForm.controls.body.errors&&submitted}" type="text"class="form-control"formControlName="body" placeholder="English Body" id="engbody" rows="3"></textarea>						
						<span *ngIf="loginForm.controls.body.errors&&submitted" class="error-view">required</span>
					</div>	
					<div class="form-group">
						<button (click)="onSave()" class="btn float-right login_btn">save</button>
						<!-- <input  value="{{'login.save' | translate }}" (click)="onSave()" class="btn float-right login_btn"> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>